@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.container {
    max-width: 360px;
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 5px 30px hsla(0, 0%, 0%, 0.25);
}

.container img {
    max-width: 310px;
    height: auto;
    border-radius: 1rem;
}

.text-wrapper {
    padding: 1.5rem 1.25rem;
    text-align: center;
}

.text-wrapper h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding-bottom: 1rem;
}

.text-wrapper p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 1rem;
}